.logo{width: 100px ;
height: 80px;}

.img-logo{position: absolute;;
z-index: -3;
left: 25%;
opacity: 0.7;
filter: alpha(opacity=50);}

h1{background-color: #FF0303 !important;
font-family:  'Righteous', cursive;

}


h5{text-align: justify;}

.float{float: left !important;
text-align: justify;
}
.text-center{
margin-top: 50px;        
background-color: #FFFC0A;
border-radius: 15px;
opacity: 0.8;}

.menu-icon{float: right;
margin: 2px;}

.card{border-radius: 15px !important;}

.card-img-top{
    border-radius: 15px 15px 0 0 !important;}

.nav-galeria{background-color:#FFFC0A!important;}
.nav-quem{background-color:#FFFC0A !important;}
.nav-home{background-color: #FFFC0A !important;}

.clear{clear: both;}

.footer{text-align: center;
font-size: 10px;}

body{background-color:}

