.logo{width: 100px ;
height: 80px;}

.ballon{background-image:url(img/ballon4.png);
}

h1{background-color: #FF0303 !important;
font-family: 'Righteous', cursive;
color: black;
}

.texto{text-align: justify;
color: black;}

.text-c{
margin-top: 50px;        
background-color: #FFFC0A;
border-radius: 15px;
opacity: 0.85;}

.card{border-radius: 15px !important;
}

.card-text{font-family:'Righteous', cursive !important;
font-size: 15px}

.card-img-top{
border-radius: 12px 12px 0 0 !important;}

.nav-c{background-color:#FFFC0A!important;}

.footer{font-size: 10px;
background-color:#FFFC0A!important;
height: 52px;
width: 100%;
}

.social{font-size: 30px;
color: #1686CC;
margin: 8px 5px 0px 5px ;
}

@media only screen and (max-width: 600px) and (min-width:320px){
    .footer{font-size: 3px;
    height: 30px !important;}
    .social{font-size: 25px;
    margin:0 5px;}
    .w-50{width: 100% !important;
    margin: 10px 0 !important;}
    .img-logo{left:0;}
    .contato{ width: 300px !important;
    margin: auto !important;}
   .ballon{width: auto !important;}
}
    
.home{color: black !important;}

.home:hover{color: #1686CC !important;
}

.active{color: #FF0303 !important;}

.nav-item{font-family: 'Righteous', cursive;
font-size: 25px;
}

.like{color: #FF0303;
font-family: 'Righteous', cursive;
}

.contato{border:4px #1686CC dashed !important; 
}

.name{color: #FF0303 !important;}

.bs-vertical-slider .carousel-item-next.carousel-item-left,
.bs-vertical-slider .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.bs-vertical-slider .carousel-item-next,
.bs-vertical-slider .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.bs-vertical-slider .carousel-item-prev,
.bs-vertical-slider .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

.btn-lg{background-color: #1686CC !important;
color: white !important;
font-family: 'Righteous', cursive !important;
font-size: 15px;
border: none !important;
}

.btn-lg:hover{background-color: #FF0303 !important;
color: #FFFC0A !important;
}

.carousel-caption{font-family: 'Righteous', cursive !important;
background-color: rgb(255, 255, 255, 0.7) !important;
color: #FF0303 !important;
}

li{background-color:#1686CC !important;}

.slide{border-radius: 15px !important;}

.font{font-family: 'Righteous', cursive !important;}

.topo{background-color: white;
border-radius: 5px;}