.logo{width: 100px ;
height: 80px;}

.img-logo{position: absolute;;
z-index: -3;
left: 25%;
opacity: 0.7;
filter: alpha(opacity=50);}

h1{background-color: #FF0303 !important;
font-family: 'Righteous', cursive;
}

h5{text-align: justify;}

.text-c{
margin-top: 50px;        
background-color: #FFFC0A;
border-radius: 15px;
opacity: 0.85;}

.card{border-radius: 15px !important;
}

.card-img-top{
border-radius: 15px 15px 0 0 !important;}

.nav-c{background-color:#FFFC0A!important;}

.footer{font-size: 10px;
background-color:#FFFC0A!important;
height: 52px;
width: 100%;
}

.social{font-size: 30px;
color: #1686CC;
margin-top: 10px;
}
.home:hover{color: #1686CC !important;
text-decoration: underline;
}

.active{color: #FF0303 !important;}

.nav-item{font-family: 'Righteous', cursive;
font-size: 20px;
}




